.footer {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #ccc;

  p {
    font-size: 18px;
    color: #777;

    @media screen and (max-width: 500px) {
      font-size: 16px;
    }
  }
}